html {
	font-family: sans-serif;
	background: #222222;
	color: #BBBBBB;
}

img {
	border: none;
}

div#content {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

div#footer { 
	float: right;
	font-size: x-small;
}

.todo {
	width: 600px;
	padding: 10px;
	float: left;
	clear: both;
	border: 1px solid #BBBBBB;
	margin-bottom: 10px;
}

.todo .item {
	float: left;
}

.todo .item img {
	float: left;
	padding-right: 10px;
}

.todo .item div#create-label {
	float: left;
	padding-top: 2px;
}
	

.todo .controls {
	float: right;
}

a {
	color: #FF3363;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button, input {
	color: black;
	background: #BBBBBB;
	border: 1px outset #FF3363;
	-moz-border-radius: 5px;
}